<div class='card mt-3'>
  <div class='card-body'>
    <h5 class='card-title'>
      <LinkTo @route='home.post.show' @model={{@post}}>
        {{@post.title}}
      </LinkTo>
    </h5>
    <h6 class='card-subtitle mb-2 text-muted'>Owner:
      {{@post.owner.username}}</h6>
    <p class='card-text'>{{@post.body}}</p>
    {{#if this.isAllreadyLikedByCurrentUser}}
      <a href='#' class='card-link'>Like ({{@post.likes.length}})</a>{{else}}
      <a href='#' class='card-link'>Dislike ({{@post.likes.length}})</a>
    {{/if}}
    <a href='#' class='card-link'>Delete</a>
  </div>
</div>